.profile {
  border-radius: 8px;
  margin: 20px auto;

  width: 320px;
  background-color: rgb(247, 249, 242);
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(29, 29, 29, 0.5);
}

.description {
  padding: 40px 20px;
  text-align: center;
  color: rgb(51, 45, 57);
}
.avatar {
  width: 200px;
  border-radius: 50%;
  background-color: rgb(224, 224, 198);
  margin: 0 auto 35px;
}
.name {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.tag,
.location {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.86;
  color: rgba(128, 128, 128, 0.784);
}

.iconEmail {
  vertical-align: middle;
  margin-right: 6px;
  color: inherit;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: space-around;
  background-color: rgb(235, 230, 230);
  height: 90px;
}
.label,
.quanteti {
  display: block;
  text-align: center;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  color: rgba(95, 94, 94, 0.784);
  padding-top: 9px;
}
.quanteti {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.86;
  color: black;
  padding-top: 0;
}

.wrapperStats {
  border: 2px solid rgb(194, 193, 193);
}
